<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}/updateUser (id =${user.getId()})}" th:object="${user}">

    <label for="name">Enter firstname: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="surname">Enter lastname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>

    <input type="submit" value="Изменить"/>
</form>

</body>
</html>